// Define a mixin for setting user-select to none
@mixin no-user-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  // Define a function for font families
  @function font-family($family) {
    @if $family == 'stencil' {
      @return stencil;
    } @else if $family == 'times' {
      @return "Times New Roman", Times, serif;
    } @else {
      @return sans-serif;
    }
  }
  
  // Define a mixin for common properties used in both .start-menu and .game-over
  @mixin common-popup {
    background-color: rgba(255, 255, 255, 0.37);
    position: fixed;
    z-index: 1;
    margin: auto;
    width: 1820px;
    height: 824px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
  
  .start-menu {
    @include common-popup;
  
    .title {
      font-size: 100px;
      font-family: font-family(stencil);
      padding-right: 100px;
      @include no-user-select;
      text-align: center;
      color: rgb(0, 80, 49);
    }
  
    .instructions {
      font-size: 50px;
      font-family: font-family('times');
      @include no-user-select;
      color: rgb(0, 0, 0);
      text-align: center;
      margin-top: 50px;
      margin-right: 120px;
    }
  
    .start {
      width: 300px;
      height: 100px;
      font-size: 60px;
      font-family: font-family(sans-serif);
      text-transform: uppercase;
      margin: 20px 700px;
    }
  }
  
  .game-over {
    @include common-popup;
  
    .game-over-heading {
      font-size: 100px;
      font-family: font-family(stencil);
      padding-right: 100px;
      @include no-user-select;
      text-align: center;
      color: rgb(255, 0, 0);
    }
  
    .score {
      font-size: 50px;
      font-family: font-family('times');
      @include no-user-select;
      color: rgb(0, 0, 0);
      text-align: center;
      margin-top: 50px;
      margin-right: 120px;
    }
  
    .again {
      width: 300px;
      height: 100px;
      font-size: 60px;
      font-family: font-family(sans-serif);
      text-transform: uppercase;
      margin: 20px 700px;
    }
  }
  
  .game-space {
    width: 1800px;
    height: 800px;
    border: 3px solid black;
    padding: 10px;
    background-image: url("assets/Character/Background/BG2.png");
    background-size: cover;
    background-repeat: no-repeat;
    @include no-user-select;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .dino {
    height: 150px;
    width: 200px;
    position: absolute;
    top: 539px;
    left: 200px;
    @include no-user-select;
  }
  
  .hill, .grass {
    height: 70px;
    width: 120px;
    position: absolute;
    top: 336px;
    left: 80px;
    transform: translate(-50%, -50%);
    @include no-user-select;
    z-index: 3;
  
    &.hill-animation {
      animation: block 1.3s infinite linear;
    }
  }
  
  @keyframes block {
    0% {
      left: 1750px;
    }
    100% {
      left: 48px;
    }
  }
  
  .ground {
    height: 148px;
    width: 1820px;
    top: 662px;
    right: 10px;
    position: relative;
    @include no-user-select;
  }
  
  .land {
    height: 148px;
    position: relative;
    @include no-user-select;
  }
  
  @keyframes jump {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes fall {
    0% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  