.title {
    font-size: 35px;
    font-family: stencil;
    padding-right: 100px;
    user-select: none;
    text-align: center;
    color: rgb(0, 0, 0);
}

body {
    background-color: green;
    overflow: hidden;
    
}

.game-space {
    margin: auto;
    width: 1800px;
    height: 800px;
    border: 3px solid black;
    padding: 10px;
    background-image: url("assets/Character/Background/BG2.png");
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
    position: relative;
}

.start {
    width: 75px;
    height: 50px;
}

.reset {
    width: 75px;
    height: 50px;
}


.dino {
    height: 150px;
    width: 200px;
    position: absolute;
    top: 478px;
    left: 200px;
    user-select: none;
    
}

.hill {
    height: 70px;
    width: 120px;
    position: relative;
    top: 197px;
    animation: block 1.3s infinite linear;
    user-select: none;
}

@keyframes block{
    0%{left: 850px;}
    100%{left: 0px;}
}

.ground {
    height: 148px;
    width: 1820px;
    top: 612px;
    right: 10px;
    position: relative;
    user-select: none;
}

.land {
    height: 148px;
    position: relative;
    user-select: none;
}

/* .lava {
    height: 165px;
    width: 150px;
    position: relative;
    top: 200px;
    animation: pit 1.3s infinite linear;
    user-select: none;
}

@keyframes pit{
    0%{left: 850px;}
    100%{left: 0px;}
} */